# Omdena Milan Covid19 and Crime

## Task 2 - Geodata

## Italy Location Code Cross Reference

## For Colab - Uncomment as required

In [ ]:

# from google.colab import drive
# drive.mount('/content/drive/')

Mounted at /content/drive/

### Load Files

In [ ]:
# reg_codes = '/content/drive/MyDrive/Omdena_Milano_Covid_and_crime/Datasets/Task 1/Geojson/regions.geojson'
# prov_codes = '/content/drive/MyDrive/Omdena_Milano_Covid_and_crime/Datasets/Task 1/Geojson/provinces.geojson'
# munic_codes = '/content/drive/MyDrive/Omdena_Milano_Covid_and_crime/Datasets/Task 1/Geojson/municipalities.geojson'

## For using in GitHub locally - Uncomment as required

### Load Files

In [14]:
reg_url = '../../data/geo_data/region_codes.csv'
prov_url = '../../data/geo_data/province_codes.csv'
munic_url = '../../data/geo_data/municipality_codes.csv'

#### Import Dependencies

In [3]:
import pandas as pd

pd.set_option('display.max_columns', None)

In [10]:
reg_codes = pd.read_csv(reg_url)
reg_codes

                        reg_name  reg_istat_code_num
0                       Piemonte                   1
1   Valle d'Aosta/Vallée d'Aoste                   2
2                      Lombardia                   3
3   Trentino-Alto Adige/Südtirol                   4
4                         Veneto                   5
5          Friuli-Venezia Giulia                   6
6                        Liguria                   7
7                 Emilia-Romagna                   8
8                        Toscana                   9
9                         Umbria                  10
10                        Marche                  11
11                         Lazio                  12
12                       Abruzzo                  13
13                        Molise                  14
14                      Campania                  15
15                        Puglia                  16
16                    Basilicata                  17
17                      Calabria                  18
18                       Sicilia                  19
19                      Sardegna                  20

In [12]:
prov_codes = pd.read_csv(prov_url)
prov_codes

        prov_name  prov_istat_code_num
0          Torino                    1
1        Vercelli                    2
2          Novara                    3
3           Cuneo                    4
4            Asti                    5
..            ...                  ...
102       Sassari                   90
103         Nuoro                   91
104      Cagliari                   92
105      Oristano                   95
106  Sud Sardegna                  111

[107 rows x 2 columns]

In [20]:
munic_codes = pd.read_csv(munic_url, usecols=['name', 'opdm_id'])
munic_codes

                    name  opdm_id
0                  Agliè        1
1                Airasca        2
2           Ala di Stura        3
3        Albiano d'Ivrea        4
4                 Almese        6
...                  ...      ...
7899  Presicce-Acquarica     8366
7900     Borgo d'Anaunia     8367
7901             Novella     8368
7902     Ville di Fiemme     8369
7903         Misiliscemi     9098

[7904 rows x 2 columns]