In [1]:
import pandas as pd

In [56]:
# set header to row 3
lockdowns = pd.read_csv('../../data/COVID LOCKDOWNS IN ITALY (MM-DD-YYYY FORMAT) - Sheet1.csv', header=4)
lockdowns

,Code,Province,Region,Lockdown Start,Lockdown End,Lockdown Start.1,Lockdown End.1,Lockdown Start.2,Lockdown End.2,Lockdown Start.3,Lockdown End.3,Lockdown Start.4,Lockdown End.4,Lockdown Start.5,Lockdown End.5
0,CH,Chieti,Abruzzo,03-09-2020,06-03-2020,11-18-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
1,AQ,L'Aquila,Abruzzo,03-09-2020,06-03-2020,11-18-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
2,PE,Pescara,Abruzzo,03-09-2020,06-03-2020,11-18-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
3,TE,Teramo,Abruzzo,03-09-2020,06-03-2020,11-18-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
4,AO,Aosta,Aosta Valley,03-09-2020,06-03-2020,11-06-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,04-02-2021,04-23-2021,12-24-2021,01-31-2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,RO,Rovigo,Veneto,03-09-2020,06-03-2020,NaN,NaN,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
103,TV,Treviso,Veneto,03-08-2020,06-03-2020,NaN,NaN,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
104,VE,Venice,Veneto,03-08-2020,06-03-2020,NaN,NaN,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
105,VR,Verona,Veneto,03-09-2020,06-03-2020,NaN,NaN,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022
106,VI,Vicenza,Veneto,03-09-2020,06-03-2020,NaN,NaN,12-21-2020,01-06-2021,NaN,NaN,NaN,NaN,12-24-2021,01-31-2022

In [8]:
# count NaN values
lockdowns.isna().sum()

Code                 1
Province             0
Region               0
Lockdown Start       0
Lockdown End         0
Lockdown Start.1    60
Lockdown End.1      60
Lockdown Start.2     0
Lockdown End.2       0
Lockdown Start.3    84
Lockdown End.3      84
Lockdown Start.4    41
Lockdown End.4      41
Lockdown Start.5     0
Lockdown End.5       0
dtype: int64

In [9]:
# show NaN rows in Code
lockdowns[lockdowns['Code'].isna()]

,Code,Province,Region,Lockdown Start,Lockdown End,Lockdown Start.1,Lockdown End.1,Lockdown Start.2,Lockdown End.2,Lockdown Start.3,Lockdown End.3,Lockdown Start.4,Lockdown End.4,Lockdown Start.5,Lockdown End.5
21,NaN,Naples,Campania,03-09-2020,06-03-2020,11-15-2020,12-13-2020,12-21-2020,01-06-2021,NaN,NaN,03-05-2021,04-23-2021,12-24-2021,01-31-2022

In [10]:
# display unique values in Code
lockdowns['Code'].unique()

array(['CH', 'AQ', 'PE', 'TE', 'AO', 'BA', 'BT', 'BR', 'FG', 'LE', 'TA',
       'MT', 'PZ', 'CZ', 'CS', 'KR', 'RC', 'VV', 'AV', 'BN', 'CE', nan,
       'SA', 'BO', 'FE', 'FC', 'MO', 'PR', 'PC', 'RA', 'RE', 'RN', 'GO',
       'PN', 'TS', 'UD', 'FR', 'LT', 'RI', 'RM', 'VT', 'GE', 'IM', 'SP',
       'SV', 'BG', 'BS', 'CO', 'CR', 'LC', 'LO', 'MN', 'MI', 'MB', 'PV',
       'SO', 'VA', 'AN', 'AP', 'FM', 'MC', 'PU', 'CB', 'IS', 'AL', 'AT',
       'BI', 'CN', 'NO', 'TO', 'VB', 'VC', 'CA', 'NU', 'OR', 'SS', 'SU',
       'AG', 'CL', 'CT', 'EN', 'ME', 'PA', 'RG', 'SR', 'TP', 'BZ', 'TN',
       'AR', 'FI', 'GR', 'LI', 'LU', 'MS', 'PI', 'PT', 'PO', 'SI', 'PG',
       'TR', 'BL', 'PD', 'RO', 'TV', 'VE', 'VR', 'VI'], dtype=object)

In [57]:
# set Code to 'NA' for NaN rows
lockdowns.loc[lockdowns['Code'].isna(), 'Code'] = 'NA'

In [53]:
# check if is there NaN values in Code
lockdowns[lockdowns['Code'].isna()]

Empty DataFrame
Columns: [Code, Province, Region, Lockdown Start, Lockdown End, Lockdown Start.1, Lockdown End.1, Lockdown Start.2, Lockdown End.2, Lockdown Start.3, Lockdown End.3, Lockdown Start.4, Lockdown End.4, Lockdown Start.5, Lockdown End.5]
Index: []

In [54]:
# show unique combination of Lockdown Start and Lockdown End
lockdowns[['Lockdown Start', 'Lockdown End']].drop_duplicates()

   Lockdown Start Lockdown End
0      03-09-2020   06-03-2020
26     03-08-2020   06-03-2020
50     02-21-2020   06-03-2020

In [59]:
# combine Lockdown Start and Lockdown End
lockdowns['Lockdown'] = lockdowns['Lockdown Start'] + ' to ' + lockdowns['Lockdown End']
lockdowns['Lockdown.1'] = lockdowns['Lockdown Start.1'] + ' to ' + lockdowns['Lockdown End.1']
lockdowns['Lockdown.2'] = lockdowns['Lockdown Start.2'] + ' to ' + lockdowns['Lockdown End.2']
lockdowns['Lockdown.3'] = lockdowns['Lockdown Start.3'] + ' to ' + lockdowns['Lockdown End.3']
lockdowns['Lockdown.4'] = lockdowns['Lockdown Start.4'] + ' to ' + lockdowns['Lockdown End.4']
lockdowns['Lockdown.5'] = lockdowns['Lockdown Start.5'] + ' to ' + lockdowns['Lockdown End.5']

# drop columns
lockdowns.drop(columns=['Lockdown Start', 'Lockdown End', 'Lockdown Start.1', 'Lockdown End.1', 'Lockdown Start.2', 'Lockdown End.2', 'Lockdown Start.3', 'Lockdown End.3', 'Lockdown Start.4', 'Lockdown End.4', 'Lockdown Start.5', 'Lockdown End.5'], inplace=True)

lockdowns

,Code,Province,Region,Lockdown,Lockdown.1,Lockdown.2,Lockdown.3,Lockdown.4,Lockdown.5
0,CH,Chieti,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
1,AQ,L'Aquila,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
2,PE,Pescara,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
3,TE,Teramo,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
4,AO,Aosta,Aosta Valley,03-09-2020 to 06-03-2020,11-06-2020 to 12-13-2020,12-21-2020 to 01-06-2021,NaN,04-02-2021 to 04-23-2021,12-24-2021 to 01-31-2022
...,...,...,...,...,...,...,...,...,...
102,RO,Rovigo,Veneto,03-09-2020 to 06-03-2020,NaN,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
103,TV,Treviso,Veneto,03-08-2020 to 06-03-2020,NaN,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
104,VE,Venice,Veneto,03-08-2020 to 06-03-2020,NaN,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
105,VR,Verona,Veneto,03-09-2020 to 06-03-2020,NaN,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022
106,VI,Vicenza,Veneto,03-09-2020 to 06-03-2020,NaN,12-21-2020 to 01-06-2021,NaN,NaN,12-24-2021 to 01-31-2022

In [62]:
lockdowns.isna().sum()

Code          0
Province      0
Region        0
Lockdown      0
Lockdown.1    0
Lockdown.2    0
Lockdown.3    0
Lockdown.4    0
Lockdown.5    0
dtype: int64

In [61]:
# fill NaN values with 'did not lockdown'
lockdowns.fillna('did not lockdown', inplace=True)

In [63]:
lockdowns

,Code,Province,Region,Lockdown,Lockdown.1,Lockdown.2,Lockdown.3,Lockdown.4,Lockdown.5
0,CH,Chieti,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
1,AQ,L'Aquila,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
2,PE,Pescara,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
3,TE,Teramo,Abruzzo,03-09-2020 to 06-03-2020,11-18-2020 to 12-13-2020,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
4,AO,Aosta,Aosta Valley,03-09-2020 to 06-03-2020,11-06-2020 to 12-13-2020,12-21-2020 to 01-06-2021,did not lockdown,04-02-2021 to 04-23-2021,12-24-2021 to 01-31-2022
...,...,...,...,...,...,...,...,...,...
102,RO,Rovigo,Veneto,03-09-2020 to 06-03-2020,did not lockdown,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
103,TV,Treviso,Veneto,03-08-2020 to 06-03-2020,did not lockdown,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
104,VE,Venice,Veneto,03-08-2020 to 06-03-2020,did not lockdown,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
105,VR,Verona,Veneto,03-09-2020 to 06-03-2020,did not lockdown,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022
106,VI,Vicenza,Veneto,03-09-2020 to 06-03-2020,did not lockdown,12-21-2020 to 01-06-2021,did not lockdown,did not lockdown,12-24-2021 to 01-31-2022

In [64]:
# save to csv
lockdowns.to_csv('../../data/COVID LOCKDOWNS IN ITALY_clean.csv', index=False)